In [2]:
import pandas as pd
import numpy as np
print(f'pandas: {pd.__version__} numpy: {np.__version__}')

pandas: 2.0.3 numpy: 1.24.3

In [4]:
# using Advertising dataset from previous
url = 'https://github.com/prasertcbs/basic-dataset/raw/master/Advertising.csv'
df = pd.read_csv(url, usecols=[1,2,3,4])
df.head(5)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

# sklearn: train_test_split

In [6]:
from sklearn.model_selection import train_test_split

In [8]:
len(df)

200

## method1 : split into (train,test)

In [10]:
# we use this formula to spliting the data 70% to train set, 30% to test set
# random state is to shuffle the dataset as it may be equally distribute
train, test = train_test_split(df, train_size=0.7, random_state=7)

In [12]:
print(len(train), len(test))
# shown that the numbers of train and test are 70% and 30%

140 60

In [14]:
train.head()

        TV  Radio  Newspaper  Sales
88    88.3   25.5       73.4   12.9
58   210.8   49.6       37.7   23.8
113  209.6   20.6       10.7   15.9
149   44.7   25.8       20.6   10.1
36   266.9   43.8        5.0   25.4

In [15]:
test.head()

        TV  Radio  Newspaper  Sales
86    76.3   27.5       16.0   12.0
120  141.3   26.8       46.2   15.5
22    13.2   15.9       49.6    5.6
11   214.7   24.0        4.0   17.4
195   38.2    3.7       13.8    7.6

## method 2: split into (x_train, x_test, y_train, y_test)

In [16]:
df.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')